- name: install nginx
  hosts: node
  become: yes
  tasks:
  - name: installing nginx
    dnf:
      name: nginx
      state: present
  - name: start nginx
    service:
      name: nginx
      state: started
      enabled: yes


